* {
  padding: 0;
  margin: 0;
}
body {
  color: white;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}
/* ----- navbar styles ----- */
nav {
  padding: 30px 6%;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 30px;
}
nav ul {
  flex: 1;
  text-align: center;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 3%;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
.hero-btn {
  display: inline-block;
  border: 1px solid white;
  border-radius: 6px;
  padding: 12px 34px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.hero-btn:hover {
  border: 1px solid rgb(235, 60, 162);
  background: rgb(235, 60, 162);
}
.text-content {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 10%;
}
.text-content h1 {
  font-size: 50px;
  padding-bottom: 30px;
}
.text-content a {
  color: rgb(235, 60, 162);
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
}
.text-content a:hover {
  background: rgb(235, 60, 162);
  color: white;
  border-radius: 5px;
}
.footer {
  width: 85%;
  margin: auto;
}
.footer .f-row {
  display: flex;
  justify-content: space-between;
  margin-top: 510px;
}
.footer .f-row .photo-credits {
  margin-top: 100px;
  font-size: 12px;
  line-height: 18px;
  word-spacing: 2px;
  font-weight: 300;
}
.footer .f-row .description {
  width: 300px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.493);
}
.footer .s-row {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.footer .s-row .contact-links a i {
  margin-right: 30px;
  font-size: 20px;
  transition: 0.5s;
}
.footer .s-row .contact-links a:hover {
  color: rgb(235, 60, 162);
}
/* ------- for smaller devices below 700 px ------- */
@media (max-width: 700px) {
  nav {
    flex-direction: column;
    justify-content: left;
    padding: 20px 0;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .footer .f-row .photo-credits {
    display: none;
  }
  .footer .s-row {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}
